In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [10]:
from sklearn.tree import DecisionTreeRegressor

In [11]:
from sklearn.model_selection import GridSearchCV
param_grid={"criterion":["squared_error", 'friedman_mse', 'absolute_error', 'poisson'] ,'splitter':['best', 'random'],'max_features':['auto','sqrt', 'log2']}
grid= GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)

In [12]:
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
17 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
23 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.68192082 0.63758995 0.69295211 0.65813654
        nan        nan 0.70463479 0.62182431 0.63709889 0.66084096
        nan        nan 0.68440597 0.61975608 0.64269378 0.70157454
        nan        nan 0.68966135 0.65463572 0.609714   0.63099687]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [15]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [16]:
#print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [17]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006250,0.007655,0.000000,0.000000,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.006252,0.007657,0.000000,0.000000,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.034375,0.011691,0.018753,0.011694,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.702956,0.594969,0.735120,0.673892,0.702667,0.681921,0.047599,6
3,0.021878,0.007654,0.000000,0.000000,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.662261,0.548548,0.645245,0.657786,0.674110,0.637590,0.045470,11
4,0.015626,0.000002,0.012500,0.006250,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.722939,0.595352,0.754360,0.650790,0.741320,0.692952,0.060519,3
5,0.021875,0.007655,0.006251,0.007656,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.709543,0.477369,0.694441,0.715394,0.693936,0.658137,0.090772,8
6,0.003125,0.006250,0.000000,0.000000,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.003127,0.006254,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.021877,0.007653,0.009376,0.007655,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.772731,0.605649,0.739295,0.715608,0.689891,0.704635,0.056524,1
9,0.015633,0.000011,0.003125,0.006250,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.532144,0.540299,0.692234,0.706401,0.638044,0.621824,0.073570,14
10,0.018748,0.006237,0.006250,0.007655,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.669268,0.645683,0.673126,0.617281,0.580136,0.637099,0.034768,12
11,0.018748,0.006249,0.006252,0.007657,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.634445,0.706325,0.692249,0.648979,0.622207,0.660841,0.032819,7
12,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.056253,0.012501,0.009375,0.007655,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.748854,0.569696,0.668368,0.689213,0.745899,0.684406,0.065382,5
15,0.043751,0.006249,0.003126,0.006253,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.688925,0.657819,0.457579,0.586876,0.707582,0.619756,0.090917,15
16,0.059361,0.006289,0.006250,0.007655,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.672411,0.595591,0.626024,0.687263,0.632179,0.642694,0.033096,10
17,0.040607,0.007678,0.009377,0.007656,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.737893,0.655200,0.703578,0.742556,0.668646,0.701575,0.035320,2
18,0.000000,0.000000,0.000000,0.000000,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.000000,0.000000,0.000000,0.000000,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.018752,0.006253,0.015626,0.000001,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.695072,0.628620,0.712478,0.673489,0.738647,0.689661,0.037248,4
21,0.018751,0.006250,0.006250,0.007655,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.673729,0.537173,0.613502,0.711313,0.737462,0.654636,0.072009,9
22,0.018754,0.006250,0.012499,0.006250,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.743770,0.570859,0.694247,0.513562,0.526133,0.609714,0.092582,16
23,0.025002,0.007653,0.003125,0.006250,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.677072,0.454525,0.666990,0.650439,0.705958,0.630997,0.090064,13

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:50
BMI:69
Children:4
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,
smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

Future_Prediction=[46200.9851]