In [30]:
import pandas as pd

In [31]:
dataset=pd.read_csv("insurance_pre.csv")

In [32]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [33]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [34]:
dataset=dataset.astype(int)

In [35]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [36]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [37]:
independent=dataset[['age', 'bmi', 'children',  'sex_male', 'smoker_yes']]

In [38]:
dependent=dataset[['charges']]

In [39]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={"criterion":['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],'max_features':['auto','log2','sqrt'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
#fitting the model for grid search
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.7857941  0.80585919 0.78677006 0.80766755
        nan        nan 0.7932101  0.80755708 0.77862409 0.80633139
        nan        nan 0.79850196 0.80660704 0.79132709 0.80899479
        nan        nan 0.78552211 0.80740681 0.78605127 0.80644276]
  warnings.warn(
C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'log2', 'sqrt'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [43]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [44]:
#print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}:

In [16]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006250,0.007655,0.000000,0.000000,squared_error,auto,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,0.000000,0.000000,0.000000,0.000000,squared_error,auto,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.112064,0.024229,0.011035,0.009504,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.840002,0.783338,0.776399,0.821808,0.771255,0.798560,0.027300,10
3,0.843367,0.024813,0.037505,0.007654,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.867470,0.784448,0.806595,0.819268,0.763058,0.808168,0.035327,5
4,0.090277,0.011132,0.009377,0.007656,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.848772,0.790512,0.770212,0.819149,0.750387,0.795807,0.034918,11
5,0.834431,0.023385,0.031253,0.000002,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.864719,0.787519,0.800147,0.821367,0.763218,0.807394,0.034294,8
6,0.006251,0.007656,0.000000,0.000000,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.006251,0.007656,0.000000,0.000000,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
8,0.093756,0.009885,0.015627,0.000002,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.854495,0.781254,0.770052,0.809408,0.745308,0.792103,0.037379,12
9,0.821928,0.018751,0.040631,0.007655,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860890,0.786000,0.806009,0.825081,0.765811,0.808758,0.032723,3
10,0.087507,0.007656,0.006251,0.007656,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.833492,0.772458,0.775188,0.793582,0.759210,0.786786,0.025799,15
11,0.830385,0.012969,0.037503,0.007657,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.860678,0.788185,0.807205,0.820331,0.766139,0.808507,0.031848,4
12,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.000000,0.000000,0.000000,0.000000,absolute_error,auto,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
14,0.190639,0.011691,0.006249,0.007653,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.841312,0.778680,0.772700,0.775255,0.746395,0.782868,0.031384,16
15,1.613610,0.125143,0.021879,0.012499,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.857656,0.787816,0.803639,0.831358,0.765997,0.809293,0.032229,2
16,0.143760,0.006250,0.003126,0.006252,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.858335,0.779900,0.775600,0.809052,0.777417,0.800061,0.031604,9
17,1.361095,0.019188,0.021878,0.007656,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.863324,0.798695,0.800469,0.828565,0.767738,0.811758,0.032179,1
18,0.000000,0.000000,0.000000,0.000000,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
19,0.003126,0.006251,0.000000,0.000000,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
20,0.075006,0.006250,0.006250,0.007655,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.861765,0.763707,0.768799,0.797249,0.744461,0.787196,0.040934,14
21,0.721926,0.048817,0.021877,0.007655,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.863813,0.788739,0.807722,0.816046,0.763777,0.808019,0.033186,6
22,0.096882,0.006249,0.006251,0.007656,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.846323,0.760512,0.812171,0.791808,0.748847,0.791932,0.035246,13
23,0.844482,0.031489,0.031253,0.000001,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.861578,0.786451,0.805127,0.823903,0.760635,0.807539,0.034172,7

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:50
BMI:69
Children:4
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,
smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[44789.175]

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [96]:
y_pred=regressor.predict(X_test)

In [97]:
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [98]:
r_score

0.8524645431942335

In [73]:
import pickle

In [74]:
filename="finalized_model_RF_regression.sav"

In [75]:
pickle.dump(regressor,open(filename,"wb"))

In [104]:
loaded_model=pickle.load(open("finalized_model_RF_regression.sav","rb"))
result=loaded_model.predict([[19,0,27.900,0,1]])
result

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([16507.73])